@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

:root{
  --dark: #2b2d42;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
}
h1 {
  font-family:'Montserrat', 'sans-serif';
}

.UserForm{
  font-family:'Montserrat', 'sans-serif';
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin: auto;
  background-color: #fff;
  width: 420px;
  max-height: max-content;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  
}

.button {
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.UserData {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 172px;
  margin-bottom: 10px;
  margin-left:43%;
  margin-top: 5%;

}


.Submit {
  margin-left: -50%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  border-spacing: 0px;
  width:100%;
}

.table td, .table th{
  padding: .75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table td > a.btn {
  padding: .3em 1em;
  font-size: 1.1em;
  margin: 0 .2em;
}

.table tr:hover{
  background-color: #b9f7e6;
}

.table tr:hover td> a{
  box-shadow: none;
}

.table .thead-dark th{
  color: #fff;
  background-color: var(--dark);
  border-color: #32383e;
}

@media only screen and (max-width: 1024px){
  table,thead,tbody,th,td,tr{
      display: block;
  }

  thead tr{
      position: absolute;
      top: -9999px;
      left: -9999;
  }
  tr{border: 1px solid var(--border);}

  td{
      border: none;
      border-bottom: 1px solid var(--border);
  }
}